= render 'album_list'

- @albums.each do |album|

  .span9.contentcolumn
    .row-fluid
      .span12
        .well
          .navbar.navbar-heading
            .navbar-inner
              .container{:style => "width: auto;"}
                %a.brand{:href => "#"} Bootstrap Buttons
          hello

