db/*.sqlite3
log/*
tmp/
.sass-cache/
.powrc
*~
.DS_Store
*.swp
public/stylesheets
doc/
db/sphinx
config/*.sphinx.conf
config/database.yml
vendor/ruby
/bin
.bundle/config
Procfile.local
.idea/
db/dumps/*
config/settings.yml.local
.svn
app/assets/images/icons-*.png
coverage
public/system
