.clearfix
  %ul.filter-nav
    %li.active
      %a{"data-id" => "all", :href => ""} All
    %li
      %a{"data-id" => "portraits", :href => ""} Portraits
    %li
      %a{"data-id" => "landscapes", :href => ""} Landscapes
    %li
      %a{"data-id" => "animals", :href => ""} Animals

%ul#thumbnails.thumbnails
  %li.span3{"data-id" => "1", "data-type" => "portraits"}
    %a.thumbnail{:href => "assets/img/photo_01.jpg"}
      %img{:alt => "", :src => "assets/img/photo_01.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "2", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_02.jpg"}
      %img{:alt => "", :src => "assets/img/photo_02.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "3", "data-type" => "portraits"}
    %a.thumbnail{:href => "assets/img/photo_03.jpg"}
      %img{:alt => "", :src => "assets/img/photo_03.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "4", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_04.jpg"}
      %img{:alt => "", :src => "assets/img/photo_04.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "5", "data-type" => "portraits"}
    %a.thumbnail{:href => "assets/img/photo_05.jpg"}
      %img{:alt => "", :src => "assets/img/photo_05.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "6", "data-type" => "portraits"}
    %a.thumbnail{:href => "assets/img/photo_06.jpg"}
      %img{:alt => "", :src => "assets/img/photo_06.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "7", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_07.jpg"}
      %img{:alt => "", :src => "assets/img/photo_07.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "8", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_08.jpg"}
      %img{:alt => "", :src => "assets/img/photo_08.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "9", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_09.jpg"}
      %img{:alt => "", :src => "assets/img/photo_09.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "10", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_10.jpg"}
      %img{:alt => "", :src => "assets/img/photo_10.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "11", "data-type" => "landscapes"}
    %a.thumbnail{:href => "assets/img/photo_11.jpg"}
      %img{:alt => "", :src => "assets/img/photo_11.jpg"}/
      %span.caption
        %i.icon-plus-sign
  %li.span3{"data-id" => "12", "data-type" => "animals"}
    %a.thumbnail{:href => "assets/img/photo_12.jpg"}
      %img{:alt => "", :src => "assets/img/photo_12.jpg"}/
      %span.caption
        %i.icon-plus-sign
