= render 'recent_alblums'

%ul#thumbnails.thumbnails
  - @alblum.photos.each do |photo|
    %li.span2.thumbnail[photo]
      = link_to photo.image.url(:large), :class => 'photo-link' do
        = image_tag photo.image.url(:medium)

      .caption
        %i.zoom.icon-zoom-in
