.span3.leftsidebar
  .menusb.well
    .navbar.navbar-heading
      .navbar-inner
        %a.brand{:href => "#"} Alblums
    %ul.nav.nav-tabs.nav-stacked
      - @alblums.each do |alblum|
        %li{:class => active_alblum(alblum, :current => @alblum)}
          %a{:href => url_for([:admin, alblum])}
            %i.icon-large.icon-th-large
            = alblum.name
      %li.hr
      %li{:class => active_alblum(@alblum)}
        %a{:href => new_admin_alblum_path}
          %i.icon-large.icon-th-large
          New Alblum
