= render 'category_list'

- @categories.each do |category|

  .span9.contentcolumn
    .row-fluid
      .span12
        .well
          .navbar.navbar-heading
            .navbar-inner
              .container{:style => "width: auto;"}
                %a.brand{:href => "#"} Bootstrap Buttons
          hello

