= render 'category_list'

.span9.contentcolumn
  .row-fluid
    .span12
      .well
        .navbar.navbar-heading
          .navbar-inner
            .container{:style => "width: auto;"}
              %a.brand{:href => "#"} New Category
        = simple_form_for [:admin, @category] do |f|
          = f.input :name

          .actions
            = f.submit 'Create Category', :class => 'btn btn_primary'

