= render 'album_list'

.span9.contentcolumn
  .row-fluid
    .span12
      .well
        .navbar.navbar-heading
          .navbar-inner
            .container{:style => "width: auto;"}
              %a.brand{:href => "#"} New Album
        = simple_form_for [:admin, @album] do |f|
          = f.input :name

          .actions
            = f.submit 'Create Album', :class => 'btn btn_primary'

