= render 'category_list'

.span9.contentcolumn
  .row-fluid
    .span12
      .well
        .navbar.navbar-heading
          .navbar-inner
            .container{:style => "width: auto;"}
              %a.brand{:href => "#"}= @category.name

        = simple_form_for [:admin, @category],
          :html => {:multipart => true, :id => 'fileupload'} do |f|

          = render :partial => 'fileupload', :locals => {:f => f}

