body.cart, body.orders {

  fieldset {
    label {
      font-family: "Pacifico";
      font-size: 18px;
    }
  }

  fieldset.download {
    li {
      margin-top: 10px
    }
  }

  a.delete {
    position: relative;
    left: 10px;
    i {
      text-decoration: none;
      color: #AAA;
      &:hover {
        color: #E67F6C;
      }
    }
  }

  a#paypal-checkout img {
    margin-top: 20px;
  }

  .thumbnail {
    // http://css3gen.com/box-shadow/
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.76);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.76);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.76);
  }

}
