body.cart {

  .thumbnail .caption .form {
    margin-bottom: 0;
  }

  fieldset {
    label {
      font-family: "Pacifico";
      font-size: 18px;
    }
  }

  fieldset.download {
    li {
      margin-top: 10px
    }
  }

  a.paypal img {
    margin-top: 20px;
  }

}
