body.orders {
  h3 {
    font-family: "Pacifico";
  }

  .well .well {
    background-color: #AAAAAA;
  }

  .thumbnails {
    margin: 0 auto;
  }

  .thumbnail {
    background-color: #FFF;
    img { border: 1px solid #999 }
    /*background-color: #222;*/
    /*img { border: 1px solid #999 }*/
    /*color: #AAA;*/
    position: relative;
    // http://css3gen.com/box-shadow/
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.76);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.76);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.76);
    height: 210px;
    img {
      max-height: 150px;
      width: auto;
      max-width: auto;
      min-width: auto;
    }
    .caption {
      text-align: center;
      position: absolute;
      top: 150px;
    }
  }
}
